@import "compass/css3";

html {
  position: inherit;
}

html,
body {
  margin: 0;
  overflow: hidden;
  @include single-transition(opacity .4s);
}

html,
body,
.onepage-wrapper {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
  .section {
    width: 100%;
    height: 100%;
  }
}


.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    text-align: center;
    a {
      padding: 10px;
      width: 4px;
      height: 4px;
      display: block;
      &:before{
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        background: rgba(0, 0, 0, 0.85);
        @include border-radius(10px);
      }
      &.active:before{
        width: 10px;
        height: 10px;
        background: none;
        border: 1px solid black;
        margin-top: -4px;
        left: 8px;
      }
    }
  }
}

.disable-onepage-scroll {
  &,
  .wrapper {
    overflow: auto;
  }
  .onepage-wrapper {
    @include transform(none !important);
    min-height: 100%;
    .section {
      position: relative !important;
      top: auto !important;
    }
  }
  .onepage-pagination {
    display: none;
  }
}

body.disabled-onepage-scroll,
.disabled-onepage-scroll .onepage-wrapper {
  position: inherit;
}
